/**
 * StatusBoard normal stylesheet
 *
 */
@CHARSET "UTF-8";

body {
    padding-top: 60px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-seri
    background: #F7F7F7;
}

a {
    color: gray;
}

label {
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    clear: both;
    padding: 2em;
    font-size: smaller;
    font-style: italic;
    text-align: center;

    color: #333333;
}

#banner {
    margin: 0em;
    padding: 0em;
}

#banner h1 {
    padding: 0.5em;
}

.nested-controls {
    margin-left: 2.0em;
}

.siteservice_mode_contents {
    display: none;
}

.align-right {
    text-align: right;
}

.row.space-below {
    margin-bottom: 2.0em;
}

/**
 * Page specific content
 */

div.service {
    border-top: 1px solid grey;
}

div.site {
    margin-left: 5em;
}

div.incident {
    margin-left: 2em;
}

table{
   background:#fff;
}

table th, table td {
    text-align: center;
    line-height: 20px;
	vertical-align: middle;
}

th.status, td.status {
    width: 70px;
    text-align: center;
}

th.service {
    text-align: left;
    background-color: #dddddd;
}

.odd_row {
    background-color: #eeeeee;
}

admin-tab-content{
    background:#fff;
    margin:-20px -5px 20px;
    Padding-top:20px;
    padding-left:20px;
    
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.rounded_content{
    background:#fff;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px;
    border: 1px solid #DDD;
    margin-left: -6px;
    padding: 5px;
    width: 950px;
}

dl.help dt {
    margin-top: 1em;
}

dl.help dd {
    padding: 0.5em;
}

ul#ticker {
    height: 20px;
    overflow: hidden;
}
 
ul#ticker  li {
    height: 20px;
}
 
ul#ticker li a {
    color: #06C;
    display:inline;
}
 
ul#ticker li p {
    display:inline;
}