<?php

/**
 * Sihnon Framework Library path
 * 
 * Specifies the absolute or relative path to the Sihnon Framework library directory, relative to the webui root directory.
 * Path must end with a trailing slash.
 * 
 * @var string
 */
define('SihnonFramework_Lib', '/usr/lib/sihnon-php-lib/source/lib/');

/**
 * Sihnon Library path
 * 
 * Specifies the absolute or relative path to the Sihnon library directory, relative to the webui root directory.
 * Path must end with a trailing slash.
 * 
 * @var string
 */
define('Sihnon_Lib', '/usr/lib/status-board/source/lib/');

/**
 * StatusBoard Library path
 * 
 * Specifies the absolute or relative path to the StatusBoard library directory, relative to the webui root directory.
 * Path must end with a trailing slash.
 * 
 * @var string
 */
define('StatusBoard_Lib', '/usr/lib/status-board/source/lib/');

/**
 * Sihnon Database Support
 *
 * Specifies whether or not to include database support in the Framework
 *
 * @var bool
 */
define('Sihnon_DatabaseSupport', true);

/**
 * Sihnon Database Configuration
 * 
 * Specifies the absolute or relative path to the Sihnon database configuration file, required when Database support is enabled.
 * This is a standard ini type file, containing the config required to connect to the database.
 * 
 * @var string
 */
define('Sihnon_DBConfig', '/etc/status-board/dbconfig.conf');

/**
 * Sihnon Config Plugin
 * 
 * Specifies the plugin to use for configuration value storage.
 * Options include:
 *   - Database (Requires Database Support to be enabled, and the Sihnon_ConfigTable option set)
 *   - FlatFile (Requires the Sihnon_ConfigFile option set)
 * 
 * @var string
 */
define('Sihnon_ConfigPlugin', 'Database');

/**
 * Sihnon Config Table
 *
 * Specifies the name of the database table thats used for storing configuration values
 * when the Database Config Plugin is used.
 *
 * @var string
 */
define('Sihnon_ConfigTable', 'settings');

/**
 * Sihnon Config File
 *
 * Specifies the name of the file used to store configuration values when the FlatFile Config Plugin is used
 *
 * @var string
 */
define('Sihnon_ConfigFile', '/etc/status-board/settings.txt');

/**
 * Sihnon Development Mode
 *
 * Specifies whether or not the Framework should operate in debug mode
 *
 * @var bool
 */
define('Sihnon_Dev', false);

?>
